$color-grey-c3: #282828;

$color-grey-000: #FFFFFF;
$color-grey-200: #F2F2F2;
$color-grey-400: #BDBDBD;
$color-grey-500: #828282;
$color-grey-700: #4F4F4F;
$color-grey-800: #3D3D3D;
$color-grey-900: #222222;
$color-grey-bg: #111111;

$color-green-500: #27AE60;
$color-green-800: #1B6C51;

$color-blue-500: #4D86DC;
$color-blue-900: #233043;

$color-purple-500: #AB61F6;

$color-red-500: #BF0001;
$color-red-400: #E01D01;
$color-red-c3: #FF492F;

$color-yellow-500: #FFAC00;

$color-orange-500: #CD9526;

$color-green-c3: #0DF2A4;
$color-labs-500: #0DF2A4;
$color-labs-800: #1B6C51;
