$color-grey-c3: #282828;

$color-grey-000: #ffffff;
$color-grey-200: #f2f2f2;
$color-grey-400: #bdbdbd;
$color-grey-500: #828282;
$color-grey-700: #4f4f4f;
$color-grey-800: #3d3d3d;
$color-grey-900: #222222;
$color-grey-bg: #111111;

$color-green-500: #2297ff;
$color-green-800: #2297ff;

$color-blue-500: #4d86dc;
$color-blue-900: #233043;

$color-purple-500: #ab61f6;

$color-red-500: #bf0001;
$color-red-400: #e01d01;
$color-red-c3: #ff492f;

$color-yellow-500: #ffac00;

$color-orange-500: #cd9526;

$color-blue-900: #233043;
$color-blue-800: #284167;
$color-blue-700: #1476ff;
$color-blue-600: #477ac8;
$color-blue-500: #1476ff;
$color-blue-300: #619cf6;
$color-blue-200: #90caff;
$color-blue-100: #c1d4ef;
$color-blue-000: #fbfdff;

$color-blue-c3: #2297ff;
$color-labs-500: #2297ff;
$color-labs-800: #284167;
