/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/roboto/roboto-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("../assets/fonts/roboto/roboto-v18-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/roboto/roboto-v18-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/roboto/roboto-v18-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/roboto/roboto-v18-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto/roboto-v18-latin-regular.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/roboto/roboto-v18-latin-500.eot"); /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../assets/fonts/roboto/roboto-v18-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../assets/fonts/roboto/roboto-v18-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/roboto/roboto-v18-latin-500.woff") format("woff"),
    /* Modern Browsers */ url("../assets/fonts/roboto/roboto-v18-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto/roboto-v18-latin-500.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-mono-regular - latin */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/roboto-mono/roboto-mono-v5-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto Mono"), local("RobotoMono-Regular"),
    url("../assets/fonts/roboto-mono/roboto-mono-v5-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/roboto-mono/roboto-mono-v5-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/roboto-mono/roboto-mono-v5-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/roboto-mono/roboto-mono-v5-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-mono/roboto-mono-v5-latin-regular.svg#RobotoMono")
      format("svg"); /* Legacy iOS */
}
/* roboto-mono-500 - latin */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/roboto-mono/roboto-mono-v5-latin-500.eot"); /* IE9 Compat Modes */
  src: local("Roboto Mono Medium"), local("RobotoMono-Medium"),
    url("../assets/fonts/roboto-mono/roboto-mono-v5-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/roboto-mono/roboto-mono-v5-latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/roboto-mono/roboto-mono-v5-latin-500.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/roboto-mono/roboto-mono-v5-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/roboto-mono/roboto-mono-v5-latin-500.svg#RobotoMono")
      format("svg"); /* Legacy iOS */
}

/* f-secure-sans 200 */
@font-face {
  font-family: "FSecureSans";
  font-weight: 200;
  src: url("../assets/fonts/f-secure-sans/f-secure-sans-light.woff2")
      format("woff2"),
    url("../assets/fonts/f-secure-sans/f-secure-sans-light.woff") format("woff"),
    url("../assets/fonts/f-secure-sans/f-secure-sans-light.ttf")
      format("truetype");
}

/* f-secure-sans 400 */
@font-face {
  font-family: "FSecureSans";
  font-weight: 400;
  src: url("../assets/fonts/f-secure-sans/f-secure-sans-regular.woff2")
      format("woff2"),
    url("../assets/fonts/f-secure-sans/f-secure-sans-regular.woff")
      format("woff"),
    url("../assets/fonts/f-secure-sans/f-secure-sans-regular.ttf")
      format("truetype");
}

/* f-secure-sans 700 */
@font-face {
  font-family: "FSecureSans";
  font-weight: 700;
  src: url("../assets/fonts/f-secure-sans/f-secure-sans-bold.woff2")
      format("woff2"),
    url("../assets/fonts/f-secure-sans/f-secure-sans-bold.woff") format("woff"),
    url("../assets/fonts/f-secure-sans/f-secure-sans-bold.ttf")
      format("truetype");
}
