@import "../colors.scss";

.c3btn {
  border-radius: 2px;
  height: 32px;
  font-family: "Roboto";
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  margin-bottom: 16px;
  min-width: 100px;
  cursor: pointer;
  border: 1px solid $color-blue-c3;
  background-color: $color-blue-c3;
  box-shadow: none;
  color: $color-grey-800;
  &.pull-right {
    margin-left: auto;
  }
  &:active {
    border: 1px solid $color-blue-c3;
    background-color: transparent;
    box-shadow: none;
    color: $color-blue-c3;
  }
  &--grey {
    border: 1px solid $color-grey-400;
    background-color: transparent;
    color: $color-grey-000;
    &:hover {
      border: 1px solid $color-blue-c3;
      color: $color-blue-c3;
    }
    &:active {
      border: 1px solid $color-blue-c3;
      background-color: $color-blue-c3;
      box-shadow: none;
      color: $color-grey-800;
    }
  }
  &--outline {
    border: 1px solid $color-blue-c3;
    background-color: transparent;
    box-shadow: none;
    color: $color-blue-c3;
    &:active {
      border: 1px solid $color-blue-c3;
      background-color: $color-blue-c3;
      box-shadow: none;
      color: $color-grey-800;
    }
  }
  &--bottom {
    align-self: flex-end;
  }
  &[disabled] {
    color: #3d3d3d;
    border: 1px solid $color-green-800;
    background-color: $color-green-800;
    border-radius: 2px;
    cursor: default;
  }
}

.c3btn-group {
  display: flex;
  flex-direction: row;
  .c3btn {
    flex-grow: 1;
    white-space: nowrap;
    padding-left: 0;
    padding-right: 0;
    &:not(:last-of-type) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
    }
    &:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:hover {
      border-right: 1px solid $color-blue-c3;
      & + .c3btn {
        border-left: none;
      }
    }
  }
}
